<div class="upload-container" *ngIf="!isUnderRevision">

  <div>
    <label for="document-title" title="document title">document title</label>
    <input name="document-title" type="text" title="upload file" [(ngModel)]="title" />
    <label for="document-revision" title="document revision">document revision</label>
    <input name="document-revision" type="number" title="document revision" [(ngModel)]="revision" />
    <mat-form-field>
      <mat-label>Document splitting</mat-label>
      <mat-select [(value)]="selectedSplittingOption">
        <mat-option value="Page">Page</mat-option>
        <mat-option value="Heading">Heading</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <input title="upload file" type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
    <div class="file-upload">
      {{ fileName || "Upload file to start revision!" }}
      <button  mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
    <div *ngIf="fileUploaded">
      Document contains {{ numberOfChapters }} Chapters.
      <div>
        <label for="chapters-to-revise" title="Chapters to revise:">Chapters to revise:</label>
        <input name="chapters-to-revise" title="comma separated list" type="text" [(ngModel)]="chaptersToRevise" />
        <button (click)="startDocumentRevision()">start revision</button>
      </div>
    </div>
</div>
<div *ngIf="isUnderRevision">
  <app-edit-revision [chapters]="chapters" (acceptChanges)="onAcceptChanges($event)"></app-edit-revision>
</div>
