<p>Edit document revision</p>

<div class="editor-list-container" *ngIf="chapters.length > 0">

  <div *ngFor="let chapter of chapters; let i = index" class="editor-container">
    <p>Chapter {{i}}</p>
    <editor [(ngModel)]="chapter.content" apiKey="j5gh56tm1ba8py8mvnzgwbyruv81uf2e6agndqqvmw5z2wdt" [init]="{ plugins: 'lists link image table code help wordcount' }"></editor>
  </div>

  <div class="button-container">
    <button (click)="onAcceptChanges()">Accept changes</button>
    <button (click)="onCancel()">Cancel</button>
  </div>
</div>
